<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Панель поддержки</title>
</head>
<body>
    {% include 'partials/ad_header.html' %}
    <h1>Панель поддержки</h1>
    <ul>
        {% for message in messages %}
        <li>
            <strong>{{ message.subject }}</strong><br>
            {{ message.message }}<br>
            <a href="{% url 'support_reply' message.id %}">Ответить</a>
        </li>
        {% endfor %}
    </ul>
    <li><a href="{% url 'logout' %}">Выйти</a></li>
    {% include 'partials/footer.html' %}
</body>
</html>
