<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Запрос в поддержку</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <h1>Запрос в поддержку</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить сообщение</button>
    </form>

    <h2>Ваши сообщения</h2>
    <ul>
        {% for message in messages %}
            <li>
                <strong>Сообщение:</strong> {{ message.message }}
                {% if message.response %}
                    <br><strong>Ответ поддержки:</strong> {{ message.response }}
                {% else %}
                    <br><em>Ожидается ответ...</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% include 'partials/footer.html' %}
</body>
</html>
